# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Logs & data
*.log
*.csv
*.db

# Environment variables
.env
.env.*

# OS artifacts
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
